/**
 * Theme Name:     Planty
 * Author:         jryant
 * Template:       kadence
 * Text Domain:	   planty
 * Description:    Child theme from Kadence
 */


@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');

label {
    display: block;
    font-size: 20px;
    font-family: 'Syne', sans-serif;
}

.Nom,
.email {
    display: block;
    width: 383px;
    height: 71px;
    margin-top: 7px;
    border: none !important;
    border-radius: 7px !important;
    outline: none !important;
    box-shadow: none !important;
    font-family: 'Syne', sans-serif;
}

.message {
    display: block;
    width: 383px;
    height: 237px;
    margin-top: 7px;
    border: none !important;
    border-radius: 7px !important;
    outline: none !important;
    box-shadow: none !important;
    resize: none;
    font-family: 'Syne', sans-serif;
}

.bouton {
    display: block;
    width: 198px;
    height: 55px;
    background-color: #DFB8B3 !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 92.5px;
    font-family: 'Syne', sans-serif;
}


.commande p {
    display: flex;
    flex-direction: row;
    width: 860px;
    justify-content: center;
    gap: 92px;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
    margin-bottom: 60px !important;
}

.nb {
    text-align: center;
    width: 39px;
    height: 56px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

h3 {
    color: white !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    font-family: 'Syne', sans-serif !important;
}

.infos {
    display: flex;
    justify-content: center;
}

.vosinfos {
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    padding-right: 40px;
}

.livraison {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.field {
    width: 383px;
    height: 71px;
    border-radius: 7px !important;
    margin-top: 5px;
}

.infos label {
    color: white;
}

.commander {
    display: block;
    width: 198px;
    height: 55px;
    font-size: 15px !important;
    background-color: #DFB8B3 !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 324.5px !important;
    margin-top: 50px;
    font-family: 'Syne', sans-serif;
}


.elementor-20 .elementor-element.elementor-element-e57eff5 .admin-nav-link {
    padding-left: 10px !important;
    padding-right: 25px !important;
}